<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item [interval]="3500">
    <img src="../assets/carrusel/carrusel-1.webp" class="d-block w-100" alt="carrusel-1" height="780" />
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3500">
    <img src="../assets/carrusel/carrusel-2.webp" class="d-block w-100" alt="carrusel-2" height="780" />
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3500">
    <img src="../assets/carrusel/carrusel-3.webp" class="d-block w-100" alt="carrusel-3" height="780" />
  </mdb-carousel-item>
</mdb-carousel>
